[submodule "bundle/ayu-vim"]
	path = bundle/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
